* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

.main_page {
    display: grid;
    max-width: fit-content;
    margin: auto;
    row-gap: 30px;
    margin-bottom: 100px;
    display: none;
}

.blue {
    width: 285px;
    height: 58px;
    background-color: #1958DB;
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: auto;
    border-color: #1958DB;
    box-sizing: border-box;
    border: 2px solid #1958DB;
    cursor: pointer;
    box-shadow: 0 0 40px 40px #1958DB inset, 0 0 0 0 #1958DB;
    transition: all 150ms ease-in-out;
}

.blue:hover {
    box-shadow: 0 0 10px 0 #1958DB, 0 0 10px 4px #1958DB;
    background-color: #f2f1f831;
    color: #1958DB;
}

.blue:focus {
    outline: none;
}

.white {
    border: 2px solid #1958DB;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    width: 285px;
    height: 58px;
    color: #1958DB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: auto;
    border-color: #1958DB;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.white:hover {
    
    background-color: #1958DB;
    color: #fff;
}

.white:focus {
    outline: none;
}

.auth_page {
    display: grid;
    max-width: fit-content;
    margin: auto;
    row-gap: 30px;
    margin-bottom: 100px;
    display: none;
    padding-top: 50px;
}

a {
    text-align: center;
}

.registration_page {
    display: grid;
    max-width: fit-content;
    margin: auto;
    row-gap: 30px;
    display: none;
    padding-top: 50px;
}

.showPage {
    display: grid !important;
}